.calculator-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-area {
    width: 300px;
    border-radius: 7px;
    background-color: #2B2D2F;
    z-index: 2;
}

.button-wrapper {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-clear {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grower {
    flex: 3 !important;
}

.grower2 {
    flex: 2 !important;
}