.button {
    color: #E7E7E7;
    font-size: 20px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

.button:hover{
    filter: brightness(1.4);
    cursor: pointer;
}