body {
  margin: 0;
  background: linear-gradient(150deg, #c0c0c0 67%, #474747 100%);
}

.navbar {
  background-color: rgb(58, 58, 58);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

}

.navbar-sel {
  list-style-type: none;
  background-color: paleturquoise;
}

.navbar-icons {
  background-color: palevioletred;

}

.icon-button {
  background-color: peru;
}

/*background: linear-gradient(150deg, #c0c0c0 67%, #474747 100%);*/